.footer-container {
	background-color: #fdfdfd !important;
	-webkit-box-shadow: 0px -3px 11px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 11px 1px rgba(0,0,0,0.75);
	box-shadow: 0px -3px 11px 1px rgba(0,0,0,0.75);
}
.footer-container .link {
	color: #222222;
	font-size: 12px;
}
.footer-container .link:hover {
	color: #222222;
}

.footer-container .title {
	color: #222222;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 1px;
	font-style: normal;
	font-variant: small-caps;
	text-align: left;
}
.footer-container .slogan {
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	word-spacing: 0.5px;
	font-variant: normal;
	text-align: left;
}